@import "../node_modules/bootstrap/scss/functions";


// $primary: #d84431;
// $secondary: #7a3a3a;
// $dark: #141111;
// $light: #ececec;
// $enable-rounded: false;
$enable-shadows: true;
$enable-negative-margins: true;
$enable-gradients: true;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.1,
    2: $spacer * 0.33,
    3: $spacer,
    4: $spacer * 2,
    5: $spacer * 3,
    10: $spacer * 6,
    20: $spacer * 12,
);


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    // "primary": #92CCCE,
    // "secondary": #DB925F,
    // "dark": #495E63,
    // "light": #FAF9F9
    "primary": #e9fbff,
    "secondary": #dcc3c3,
    "dark": #495E63,
    "light": #FAF9F9,
    "green": #e4f0d8,
    "black": #000000,
);

$theme-colors: map-merge($theme-colors, $custom-colors);


@each $key, $val in $theme-colors {
    .bg-#{$key} {
        background-color: $val;
    }

    .bg-#{$key}-light {
        background-color: tint-color($val, 50%);
    }

    .text-#{$key}-light {
        color: tint-color($val, 50%);
    }

    .bg-#{$key}-dark {
        background-color: shade-color($val, 20%);
    }

    .text-#{$key}-dark {
        color: shade-color($val, 20%);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    // font-family: 'Barlow', sans-serif !important;
    // font-family: 'Josefin+Sans', sans-serif !important;
    font-family: 'Catamaran', sans-serif !important;
}


.image-container {
    overflow: hidden;
    position: relative;
}

.image-container:hover .image-zoom {
    transform: scale(1.1);
}

.image-zoom {
    transition: transform 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: auto;
}

.cropped-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (min-width: 992px) and (max-width: 2000px) {
    /* Large screens and above */
    .vh-100-custom {
      height: 100vh;
    }
}
@media (max-width: 990px) {
    .move-to-top {
      order: -1; /* Move the element to the start */
    //   margin-bottom: 15px; /* Add some space between the elements */
    }
  }

  .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:focus {
      color: white !important;
    }

$font-size-base: 20px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";