@import "../node_modules/bootstrap/scss/functions";


// $primary: #d84431;
// $secondary: #7a3a3a;
// $dark: #141111;
// $light: #ececec;
$enable-rounded: false;
$enable-shadows: true;
$enable-negative-margins: true;
$enable-gradients: true;


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    "primary": #92CCCE,
    "secondary": #DB925F,
    "dark": #495E63,
    "light": #FAF9F9
);

$theme-colors: map-merge($theme-colors, $custom-colors);


@each $key, $val in $theme-colors {
    .bg-#{$key} {
        background-color: $val;
    }

    .bg-#{$key}-light {
        background-color: tint-color($val, 50%);
    }

    .text-#{$key}-light {
        color: tint-color($val, 50%);
    }

    .bg-#{$key}-dark {
        background-color: shade-color($val, 20%);
    }

    .text-#{$key}-dark {
        color: shade-color($val, 20%);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

body {
    font-family: 'Barlow', sans-serif !important;
}


.image-container {
    overflow: hidden;
    position: relative;
  }

  .image-container:hover .image-zoom {
    transform: scale(1.1);
  }

  .image-zoom {
    transition: transform 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: auto;
  }

  .cropped-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  $font-size-base: 20px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";